*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h3{
    margin: 20px auto 20px auto;
    font-size: 30px;
    width: fit-content;
}
.hiring{
    color: rgb(43, 107, 226);
}

/* parent */
.parent{
    display: grid;
    justify-content: center;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    margin: auto;
    gap: 10px;
}
.children{
    border: 2px solid black;
    border-radius: 5px;
}
/* indivisual child */
#child1{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaIkkE68C7rUuMsswyLbpCOpW8Y6bMUBjD8Q&s");
    background-size: cover;
    grid-row: 5/7;
    grid-column: 3/7;
}
#child2{
    background-image: url("https://www.threetomatoes.com/wp-content/uploads/2023/10/common-corporate-events.jpg");
    background-size: cover;
    grid-row: 7/9;
    grid-column: 3/7;
}
#child3{
    background-image: url("https://www.srisowbarnikaadecorator.com/wp-content/uploads/2023/01/10-Tips-for-Professional-Corporate-Event-Planning.jpg");
    background-size: cover;
    grid-row: 9/12;
    grid-column: 5/9;
}
#child4{
    background-image: url("https://media.istockphoto.com/id/530685719/photo/group-of-business-people-standing-in-hall-smiling-and-talking-together.jpg?s=612x612&w=0&k=20&c=jX61UCaRLlN_jm-prBgTqLh6SZkptzlJocO3QDQu3k4=");
    background-size: cover;
    grid-row: 4/6;
    grid-column: 7/10;
}
#child5{
    background-image: url("https://images.unsplash.com/photo-1561489396-888724a1543d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29ycG9yYXRlJTIwZXZlbnR8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    grid-row: 6/9;
    grid-column: 7/12;
}
#child6{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTggM43cqXlAxtDYnnPJMMT55Az4wgApcEgVw&s");
    background-size: cover;
    grid-row: 9/12;
    grid-column: 9/12;
}
#child7{
    background-image: url("https://media.istockphoto.com/id/1182525590/photo/savory-and-sweet-gourmet-food-at-corporate-office-party.jpg?s=612x612&w=0&k=20&c=OVj8WKTKEYhG-vJUWPyo9v2V29ZVOjpk0PcCtfPSx5c=");
    background-size: cover;
    grid-row: 3/6;
    grid-column: 10/14;
}
#child8{
    background-image: url("https://www.4foreverything.com/uploads/images/1706520513_1cd3b33e1cf03a58d033.jpg");
    background-size: cover;
    grid-row: 6/8;
    grid-column: 12/20;
}
#child9{
    background-image: url("https://cdn.meyatri.com/cdn/images/events/imagegroup/64477e8d4934e_61d69685c97df.jpeg");
    background-size: cover;
    grid-row: 8/11;
    grid-column: 12/20;
}
.children:hover{
    transition: 1s;
    transform: scale(1.1);
    cursor: pointer;
}

/* Adding Animations in cards */
/* @keyframes styling{
    0%{
        height: 50px;
        width: 50px;
    }
    100%{
        height: 170px;
       width: 170px;
    }
} */